/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

// @navbar-margin-bottom

/* ==========================================================================
   Vars
   ========================================================================== */

// brand/company vars
// colors
@color-bba-trans-black: rgba(50, 50, 50, 0.22);
@color-bba-white: #fff;
@color-bba-black: #000;
@color-bba-light-blue: #6caae4;
@color-bba-green: green;
// fonts
@font-family-bba-sans: 'Open Sans', sans-serif;
@font-family-bba-nav: "Roboto Condensed", sans-serif;

// Bootstrap overrides
// fonts
@font-family-sans-serif: @font-family-bba-sans;
// navbar
@navbar-inverse-bg: @color-bba-light-blue;

/* ==========================================================================
   Base
   ========================================================================== */

body {
   background: url(/media/bg.jpg);
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.navbar {
   margin-bottom: 0;
   border-radius: 0;
   border: none;
   -webkit-box-shadow: 3px 3px 20px @color-bba-trans-black;
   -moz-box-shadow:    3px 3px 20px @color-bba-trans-black;
   box-shadow:         3px 3px 20px @color-bba-trans-black;
}
.navbar-brand {
   padding: 26px 10px 10px 10px;
}
.navbar a {
   text-transform: uppercase;
   font-size: 1.1em;
   font-family: @font-family-bba-nav;
}
.pavement {
   background: url(/media/navbg.jpg);
}

.navbar-top {
   background: url(/media/navbg.jpg);
   font-size: 0.8em;
}
.navbar-top a {
   color: @color-bba-white;
   text-transform: uppercase;
}
.navbar-top a:hover {
   color: @color-bba-light-blue;
   text-decoration: none;
}
.navbar-top p, .list-inline {
   margin: 0; padding: 8px 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   color: @color-bba-white;
   background: @color-bba-black url(/media/navbg.jpg);
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }
h1,h2,h3,h4,h5,h6 {
   text-transform: uppercase;
   font-weight: bold;
}
h1 {
   line-height: 0.85em;
}
.jumbotron {
   padding: 0;
   background: url(/media/slide1.jpg) center top no-repeat;
}
.jumbotron h1 {
   text-transform: uppercase;
   line-height: 0.9em;
}
.slide1 {
   padding-top: 20px;
}
.img-shadow {
   -webkit-box-shadow: 3px 3px 20px @color-bba-trans-black;
   -moz-box-shadow:    3px 3px 20px @color-bba-trans-black;
   box-shadow:         3px 3px 20px @color-bba-trans-black;
}
.price {
   font-size: 1.8em;
   color: @color-bba-green;
}
.label-pad {
   padding: 8px;
   margin-top: 5px;
}
.nav-tabs {
   text-transform: uppercase;
   font-weight: bold;
   font-family: @font-family-bba-nav;
}
.nav-tabs>li>a:hover {
   color: @color-bba-white;
}
.well {
   margin-top: 25px;
}
#sharethis span {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}
blockquote {
   margin-top: 30px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
footer {
   font-size: 0.85em;
   margin-top: 100px;
   a {
      color: black;
      text-decoration: underline;
      &:hover, &:active, &:focus {
         text-decoration: none;
      }
   }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) {
   h1 {
      font-size: 4em;
   }
}

@media (min-width: @screen-lg-min) {
   h1 {
      font-size: 5.5em;
   }
}

@media print {
   .tab-content > .tab-pane {
      display: block !important; opacity: 1 !important;
   }
}